body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  height: 30px;
  position: relative;
}

th {
  background-color: #f2f2f2;
}

td.highlight {
  background-color: #cc5500;
  color: white;
}

.class_block {
  display: inline-block;
  background-color: #cc5500;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1.25em;
  text-align: center;
  line-height: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
}

.delete-class {
  font-size: 20px;
  margin-left: 5px;
}

fieldset {
  margin-bottom: 20px;
}
